<a href="https://colab.research.google.com/github/HS587885/Baekjoon_ProblemSolving/blob/main/%EB%B0%B1%EC%A4%80_%EC%9E%AC%EA%B7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 팩토리얼

N = int(input())
result = 1
for i in range(1, N + 1):
  result *= i
print(result)

10
3628800

In [ ]:
# 피보나치의 수 5
# 피보나치 수는 0과 1로 시작한다. 0번째 피보나치 수는 0이고, 1번째 피보나치 수는 1이다. 그 다음 2번째 부터는 바로 앞 두 피보나치 수의 합이 된다.
# 이를 식으로 써보면 Fn = Fn-1 + Fn-2 (n ≥ 2)가 된다.

fibo = [0 for x in range(20)]
fibo[0] = 0
fibo[1] = 1
for i in range(2,  20): 
  fibo[i] = fibo[i-1] + fibo[i-2]
n = int(input())
print(fibo[n])

10
55

In [ ]:
# 런타임에러나서 다시함
# Revised version


n = int(input())
fibo = [0, 1]
for i in range(2, n+1):
    num = fibo[i-1] + fibo[i-2]
    fibo.append(num)
print(fibo[n])

10
55

In [ ]:
# 피보나치 5 함수형 
def f(n):
    if n == 0 or n == 1:
        return n

    else:
        return f(n-1) + f(n-2)

n = int(input())
print(f(n))

10
55

In [ ]:
# 재귀함수가 뭔가요?

def recursion(n):
    print('_'*4*(N-n)+'"재귀함수가 뭔가요?"')
    if n == 0:
        print('_'*4*(N-n)+'"재귀함수는 자기 자신을 호출하는 함수라네"')
        print('_'*4*(N-n)+'라고 답변하였지.')
        return
    print('_'*4*(N-n) + '"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.')
    print('_'*4*(N-n) + '마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.')
    print('_'*4*(N-n) + '그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."')
    recursion(n-1)
    print('_'*4*(N-n) + '라고 답변하였지.')


N = int(input())
print('어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.')
recursion(N)

1
어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어.
마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지.
그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."
____"재귀함수가 뭔가요?"
____"재귀함수는 자기 자신을 호출하는 함수라네"
____라고 답변하였지.
라고 답변하였지.

In [ ]:
# 별 찍기 - 10
num = int(input())

def printing_star(n):
  if n == 3:
    return ['***', '* *', '***']

  stars = printing_star(n//3)
  a = []
  for star in stars:
    a.append(star*3)
  for star in stars:
    a.append(star+' '* (n//3) + star)
  for star in stars:
    a.append(star*3)
  return a

print('\n'.join(printing_star(num)))

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

In [ ]:
def hanoi(N, start, middle, end):
  if N == 1:
    print(start, end)
  else:
    hanoi(N-1, start, end, middle)
    print(start, end)
    hanoi(N-1, middle, start, end)


N = int(input())
print(2 ** N -1)
hanoi(N, 1, 2, 3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3

In [ ]:
hanoi(2, 1, 3, 2)

1 3
1 2
3 2

In [ ]:
hanoi(2, 2, 1, 3)

2 1
2 3
1 3