<a href="https://colab.research.google.com/github/HS587885/Baekjoon_ProblemSolving/blob/main/%EB%B0%B1%EC%A4%80_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 두 수 비교하기
a,b = input().split()
a = int(a)
b = int(b)

if a == b:
    print("==")
elif a < b:
    print("<")
else:
    print(">")

36 23
>

In [ ]:
#2 시험 성적
score = int(input())

if 100 >= score >= 90:
    print("A")
elif 90 > score >= 80:
    print("B")
elif 80 > score >= 70:
    print("C")
elif 70 > score >= 60:
    print("D")
else:
    print("F")

92
A

In [ ]:
#3 	윤년
y = int(input())

if y%4== 0 and y%100 != 0 or y%400 == 0:
	print('1')
else:
	print('0')

2002
0

In [ ]:
#4 사분면 고르기
x = int(input())
y = int(input())

if (0 <= x <= 1000) and (0 < y <= 1000):
    print('1')
elif (-1000 <= x <= 1000) and (0 < y <= 1000):
    print('2')
elif (-1000 <= x < 0) and (-1000 < y < 0):
    print('3')
else:
    print('4')

78
-24
4

In [ ]:
#5 	알람 시계
h, m = map(int, input().split(" "))

if m >= 45:
    print(h, m-45)
elif h == 0:
    print(23, m+15)
else:
    print(h-1, m+15)

23 41
22 56

In [ ]:
#6 	오븐 시계
h, m = map(int, input().split())
time = int(input())

sum_val = h * 60 + m + time

if sum_val // 60 >= 24:
    print(sum_val // 60 -24, sum_val % 60)
else:
    print(sum_val // 60, sum_val % 60)

45 23
21
21 44

In [ ]:
#7 	주사위 세개
a,b,c=map(int, input().split())

list=[0 for i in range(7)]

i=0
list[a]+=1
list[b]+=1
list[c]+=1

sum=0

for i in range(1, 7):
  if list[i]==3:
      sum=10000+1000*i
      break
  elif list[i]==2:
      sum=1000+100*i
      break
  elif list[i]==1:
      sum=100*i
print(sum)

6 2 5
600