<a href="https://colab.research.google.com/github/HS587885/Baekjoon_ProblemSolving/blob/main/%EB%B0%B1%EC%A4%80_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
n = int(input())

for i in range(1,10):
    print(n, "*", i, "=", n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
#2
t  = int(input())

for _ in range(t):
	a,b = map(int, input().split())
	print(a+b)

In [ ]:
#3
a = int(input())
b=0
for i in range(1,a+1):
    b= b+i
    
print(b)

In [ ]:
#4
import sys
t = int(input())

for i in range(t):
    a,b = map(int, sys.stdin.readline().split())
    print(a+b)

In [ ]:
#5
n = int(input())

for i in range(1,n+1):
	print(i)

In [ ]:
#6
n = int(input())

for i in range(n,0, -1):
	print(i)

In [ ]:
#7   
t = int(input())

for i in range(t):
	a,b = map(int,input().split())
	result = a + b
	print("Case #%d: %d" % (i+1, result))

In [ ]:
#8 
num = int(input())
for i in range(num):
    a,b = map(int, input().split())
    print("Case #{}: {} + {} = {}".format(i+1, a, b, a+b))

In [ ]:
#9
n = int(input())
for i in range(1,n+1):
  print('*' * i)

5
*
**
***
****
*****

In [ ]:
#10
T = int(input())
for i in range(1,T+1):
    print(' '*(T-i),'*' * i, sep='')

5
    *
   **
  ***
 ****
*****

In [ ]:
#11
n,m = map(int,input().split())
n1 = list(map(int,input().split()))

for n in n1:
    if n < m:
        print(n, end=' ')

5 6
6

In [ ]:
#12
while True:
    a,b = map(int, input().split())  
    if a == 0 and b == 0:
        break
    else:
        print(a+b)

In [ ]:
#13
while True: 
  try: 
    a, b = map(int, input().split())
    print(a+b) 
  except: 
    break

In [ ]:
#14
N = int(input())
n = N
i = 0
while True:
    a = n//10
    b = n%10
    c = (a+b)%10
    n = 10*b+c
    i = i + 1
    if(N==n):
        break
print(i)

71
12